.weather-display {
  background-color: #e4e9ff !important;
  border: 1px solid #99a5d5;
  border-radius: 10px !important;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
  max-width: 375px;
}

.city-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.weather-info {
  display: flex;
  flex-direction: column;
}

.weather-icon {
  display: flex;
}

.temperature,
.weather-description,
.humidity,
.wind-speed {
  margin: 5px 0;
  font-size: 18px;
}

span.temperature span {
  font-size: 5rem;
  font-weight: 500;
}

span.temperature {
  display: inline-flex;
}

.weather-description {
  color: #333;
}

.humidity,
.wind-speed {
  color: #666;
}
.weather-more-info {
  align-self: end;
  margin-bottom: 20px !important;
}